html{background: url("") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-image:none;
}

#top-navigation{display:none;}
/* Z-index of #mask must lower than #boxes .window */
#mask {z-index:9000;background-color:#000;display:none;position:absolute;top:0;} 
#boxes .window {position:fixed;width:440px;height:200px;display:none;z-index:9999;padding:20px;}

/* Customize your modal window here, you can add background image too */
#boxes #dialog {width:375px;height:203px;top:12% !important;left:26% !important;}
.model-opener{float:right;position:relative;left:148px;top:87px;text-decoration:none;color:#000;}
.model-opener:before{content:"(+)";padding:0px 5px; font-size: 24px;opacity: 0.3;}
.model-opener:hover{opacity: 0.5;}


#thumbnail-closer{text-decoration:none;color:#fff;}
#thumbnail-closer:before{content:"(-)";padding:0px 5px; font-size: 24px;opacity: 0.5;}
#thumbnail-closer:hover{opacity: 0.4;} 

.model-opener a{}
#thumbnail img{width:150%;margin:8px auto;}